

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button{
    margin-top: 20px;
}

table{
    width: 100%;
}

th, tr, td{
    border: 1px solid black;
}

#closeModal{
    margin-left: 130px;
    margin-top: 20px;
}

label{
    margin-top: 15px;
}

#gridLayout{
    display: grid;
}
